{# EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig'...................... #}
	{% extends "AppBundle:Layouts:layout.html.twig"%}
{# ......................EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig' #}
{# INCLUIMOS EL JAVASCRIPT QUE VERIFICA SI EL NICK EXISTE............................ #}
{% block stylesheets %}
	{# la función parent() carga todo el contenido del bloque anterior #}
	{{ parent() }}
	<!-- Datatables -->
	<link href="{{ asset ('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
	<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
 {% endblock %}
{# ............................INCLUIMOS EL JAVASCRIPT QUE VERIFICA SI EL NICK EXISTE #}
{% block content %}
<!-- page content -->
	<div class="right_col" role="main">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel" >
					<div class="x_title">
						<h3 style="display:inline-block;">Listado de Estudios Ortopodológicos</h3>
					</div>
					<div class="x_content">
						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Estudio</th>
									<th>Nombre</th>
									<th>DNI</th>
									<th>Móvil</th>
									<th>Fijo</th>
									<th style="text-align: center;"><i class="ionicons ion-male" style="text-align: center;"></i> / <i class="ionicons ion-female" style="text-align: center;"></i></th>
								</tr>
							</thead>
							<tbody>
								{% for orthopodologyHistory in orthopodologyHistoryList %}
									{# DEFINO VARIABLES ................................................................... #}
										{% set clinicNameUrl = orthopodologyHistory.medicalHistory.clinic.nameUrl %}
									{# ................................................................... DEFINO VARIABLES #}
									<tr {% if orthopodologyHistory.medicalHistory.patientRisk != NULL %} class="danger"{% endif %}>
										<td>
											<a href="{{ path('orthopodology_history_view', {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': orthopodologyHistory.medicalHistory.medicalHistoryNumber, 'registrationDate' : orthopodologyHistory.registrationDate | date('Y_m_d') } ) }}">{{orthopodologyHistory.medicalHistory.medicalHistoryNumber}} - {{orthopodologyHistory.registrationDate | date("d/m/Y")}}</a>
										</td>
										<td>
											<a href="{{ path('orthopodology_history_view', {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': orthopodologyHistory.medicalHistory.medicalHistoryNumber, 'registrationDate' : orthopodologyHistory.registrationDate | date('Y_m_d') } ) }}">{{orthopodologyHistory.medicalHistory.surname| title}}, {{orthopodologyHistory.medicalHistory.name| title}}</a>
										</td>
										<td>
											<a href="{{ path('orthopodology_history_view', {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': orthopodologyHistory.medicalHistory.medicalHistoryNumber, 'registrationDate' : orthopodologyHistory.registrationDate | date('Y_m_d') } ) }}">{{orthopodologyHistory.medicalHistory.dni}}</a>
										</td>
										<td>
											<a href="{{ path('orthopodology_history_view', {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': orthopodologyHistory.medicalHistory.medicalHistoryNumber, 'registrationDate' : orthopodologyHistory.registrationDate | date('Y_m_d') } ) }}">{{orthopodologyHistory.medicalHistory.phoneMobile}}</a>
										</td>
										<td>
											<a href="{{ path('orthopodology_history_view', {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': orthopodologyHistory.medicalHistory.medicalHistoryNumber, 'registrationDate' : orthopodologyHistory.registrationDate | date('Y_m_d') } ) }}">{{orthopodologyHistory.medicalHistory.phoneHome}}</a>
										</td>
										<td style="text-align: center;">
											<a href="{{ path('orthopodology_history_view', {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': orthopodologyHistory.medicalHistory.medicalHistoryNumber, 'registrationDate' : orthopodologyHistory.registrationDate | date('Y_m_d') } ) }}">
												{% if orthopodologyHistory.medicalHistory.gender == "Hombre" %}
													<i class="ionicons ion-male"></i>
												{% elseif orthopodologyHistory.medicalHistory.gender == "Mujer" %}
													<i class="ionicons ion-female" ></i>
												{% endif %}
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- /page content -->
{% endblock %}
{% block javascriptsFinal %}
  {{ parent() }}
    <!-- Datatables -->
    <script src="{{ asset ('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
{% endblock %}