{# EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig'...................... #}
  {% extends "AppBundle:Layouts:layout.html.twig"%}
{# ......................EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig' #}
{% block stylesheets %}
	{# la función parent() carga todo el contenido del bloque anterior #}
	{{ parent() }}
	<!-- CK Editor -->
	<script src="{{ asset ('assets/vendors/ckeditor/ckeditor.js') }}"></script>
	<script>
		if ( location.hostname == 'sdk.ckeditor.com' ) {
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-271067-15', 'auto');
			ga('send', 'pageview');
		}
	</script>	
{% endblock %}
{% block content %}
	<style>
		.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
			text-align: center;
			border-radius: 0px;
			/*background-color:  #2B6D8D;
			color:#fff;*/
			color:#2B6D8D;
	 		/*https://www.jquery-az.com/bootstrap-datetimepicker-managing-with-date-and-time-in-bootstrap/*/
		}
	</style>
<!-- page content -->
					<div class="right_col" role="main">
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel" >
									<div class="x_title">
										<h3 style="display:inline-block;">Nuevo Estudio Ortopodológico <small>Historia Clínica {{medicalHistoryNumber}}</small></h3>
										<div style="display:block;margin-top:4px;" class="pull-right">
											<a class="btn btn-success"
												href="{{ path("medical_history_view", {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': medicalHistoryNumber} ) }}"><i class="fa fa-mail-reply-all m-right-xs"></i>
												Volver a la historia</a>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
									{{ form_start(form, { 'attr':{'class': 'form-horizontal form-label-left' }})}}
										<table id="datatable-responsive"
												class="table table-striped table-bordered dt-responsive nowrap"
												cellspacing="0" style="width:calc(100% - 17px);margin-left:10px;margin-right:10px;" >
											<thead>
												<tr>
													<th style="text-align: center;">Pie</th>
													<th style="text-align: center;">Altura</th>
													<th style="text-align: center;">Peso</th>
												<tr>
											</thead>
											<tbody>
												<tr style="height:30px;">
													<td style="text-align: center;">{{form_widget(form.shoeSize)}}</td>
													<td style="text-align: center;">{{form_widget(form.height)}}</td>
													<td style="text-align: center;">{{form_widget(form.weight)}}</td>					
												<tr>
											</tbody>
										</table>							
										<div class="form-group">
											<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12" >Razón de Consulta</label>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">{{form_widget(form.reasonConsultation)}}</div>
											<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12" >Antecedentes</label>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">{{form_widget(form.background)}}</div>
										</div>
										<div class="clearfix"></div>
										<!-- Exploración articular -->
											<table id="datatable-responsive"
												class="table table-striped table-bordered dt-responsive nowrap"
												cellspacing="0" style="width:calc(100% - 17px);margin-left:10px;margin-right:10px;" >
												<thead>
													<tr>
														<th style="text-align: center;"><img src="{{ asset ('assets/images/feet_right.png') }}" alt="..." style="width: 25px;"></th>
														<th style="text-align: center;">EXPLORACIÓN ARTICULAR</th>
														<th style="text-align: center;"><img src="{{ asset ('assets/images/feet_left.png') }}" alt="..." style="width: 25px;"></th>
													<tr>
												</thead>
												<tbody>
													<!-- patrón rotador -->
														<tr>
															<td style="text-align: center; padding: 8px 0px;">
																{{form_widget(form.articularExplorationRotaryPatternExternalRight)}}
																/
																{{form_widget(form.articularExplorationRotaryPatternInternalRight)}}
															</td>
															<td style="text-align: center;">PATRON ROTADOR (ext / int)</td>
															<td style="text-align: center; padding: 8px 0px;">
																{{form_widget(form.articularExplorationRotaryPatternExternalLeft)}}
																/
																{{form_widget(form.articularExplorationRotaryPatternInternalLeft)}}
															</td>
														</tr>
													<!-- /patrón rotador -->
													<!-- cadera -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationHipRight)}}</td>
															<td style="text-align: center;">CADERA</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationHipLeft)}}</td>
														</tr>
													<!-- /cadera -->
													<!-- rodilla -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationKneeRight)}}</td>
															<td style="text-align: center;">RODILLA</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationKneeLeft)}}</td>
														</tr>
													<!-- /rodilla -->
													<!-- tobillo -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationAnkleRight)}}</td>
															<td style="text-align: center;">TOBILLO</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationAnkleLeft)}}</td>
														</tr>
													<!-- /tobillo -->																
													<!-- retropie -->										
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationRetroPieRight)}}</td>
															<td style="text-align: center;">RETROPIÉ</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationRetroPieLeft)}}</td>
														</tr>
													<!-- /retropie -->
													<!-- antepie -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationBeforeFootRight)}}</td>
															<td style="text-align: center;">ANTEPIÉ</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationBeforeFootLeft)}}</td>
														</tr>
													<!-- /antepie -->																	
													<!-- I radio -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationFirstRadioRight)}}</td>
															<td style="text-align: center;">I.RADIO</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationFirstRadioLeft)}}</td>
														</tr>
													<!-- /I radio -->
													<!-- V radio -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationFifthRadioRight)}}</td>
															<td style="text-align: center;">V.RADIO</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationFifthRadioLeft)}}</td>
														</tr>
													<!-- V radio -->																	
													<!-- r centrales -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationCentralRadiosRight)}}</td>
															<td style="text-align: center;">R.CENTRALES</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationCentralRadiosLeft)}}</td>
														</tr>
													<!-- /r centrales -->
													<!-- 1er dedo -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationFirstFingerRight)}}</td>
															<td style="text-align: center;">1ºDEDO</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationFirstFingerLeft)}}</td>
														</tr>
													<!-- /1er dedo -->
													<!-- D menores -->											
														<tr>
															<td style="text-align: center;">{{form_widget(form.articularExplorationSmallerFingersRight)}}</td>
															<td style="text-align: center;">D.MENORES</td>
															<td style="text-align: center;">{{form_widget(form.articularExplorationSmallerFingersLeft)}}</td>
														</tr>
													<!-- /D menores -->
												</tbody>
											</table>
										<!-- /Exploración articular -->
										<div class="clearfix"></div>
										<!-- Torsiones -->
											<table id="datatable-responsive"
												class="table table-striped table-bordered dt-responsive nowrap"
												cellspacing="0" style="width:calc(100% - 17px);margin-left:10px;margin-right:10px;" >
												<thead>
													<tr>
														<th style="text-align: center;"><img src="{{ asset ('assets/images/feet_right.png') }}" alt="..." style="width: 25px;"></th>
														<th style="text-align: center;">TORSIONES</th>
														<th style="text-align: center;"><img src="{{ asset ('assets/images/feet_left.png') }}" alt="..." style="width: 25px;"></th>
													</tr>
												</thead>
												<tbody>
													<!-- Femoral -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.torsionsFemoralRight)}}</td>
															<td style="text-align: center;">FEMORAL</td>
															<td style="text-align: center;">{{form_widget(form.torsionsFemoralLeft)}}</td>
														</tr>
													<!-- /Femoral -->
													<!-- Genus -->											
														<tr>
															<td style="text-align: center;">{{form_widget(form.torsionsGenusRight)}}</td>
															<td style="text-align: center;">GENUS</td>
															<td style="text-align: center;">{{form_widget(form.torsionsGenusLeft)}}</td>
														</tr>
													<!-- /genus -->
													<!-- angulo q -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.torsionsAngleQRight)}}</td>
															<td style="text-align: center;">ÁNGULO Q</td>
															<td style="text-align: center;">{{form_widget(form.torsionsAngleQLeft)}}</td>
														</tr>
													<!-- /angulo q -->
													<!-- tibial -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.torsionsTibialRight)}}</td>
															<td style="text-align: center;">TIBIAL</td>
															<td style="text-align: center;">{{form_widget(form.torsionsTibialLeft)}}</td>
														</tr>
													<!-- tibial -->
													<!-- helbing -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.torsionsHelbingRight)}}</td>
															<td style="text-align: center;">HELBING</td>
															<td style="text-align: center;">{{form_widget(form.torsionsHelbingLeft)}}</td>
														</tr>
													<!-- /helbing -->
												</tbody>
											</table>
										<!-- /Torsiones -->
										<div class="clearfix"></div>
										<div class="form-group">
											<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12" >Disimetría</label>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">{{form_widget(form.dissimmetry)}}</div>
										</div>
										<div class="clearfix"></div>
										<!-- Exploración Muscular -->
											<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th style="text-align: center;"><img src="{{ asset ('assets/images/feet_right.png') }}" alt="..." style="width: 25px;"></th>
														<th style="text-align: center;">EXPLORACIÓN MUSCULAR</th>
														<th style="text-align: center;"><img src="{{ asset ('assets/images/feet_left.png') }}" alt="..." style="width: 25px;"></th>
													</tr>
												</thead>
												<tbody>
													<!-- Flexión dorsal -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.muscularExplorationDorsalFlexionRight)}}</td>
															<td style="text-align: center;">FLEXIÓN DORSAL</td>
															<td style="text-align: center;">{{form_widget(form.muscularExplorationDorsalFlexionLeft)}}</td>
														</tr>
													<!-- /Flexión dorsal -->
													<!-- Flexión puntal -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.muscularExplorationPlantarFlexionRight)}}</td>
															<td style="text-align: center;">FLEXIÓN PLANTAR</td>
															<td style="text-align: center;">{{form_widget(form.muscularExplorationPlantarFlexionLeft)}}</td>
														</tr>
													<!-- /Flexión puntal -->
													<!-- Eversión -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.muscularExplorationEversionRight)}}</td>
															<td style="text-align: center;">EVERSIÓN</td>
															<td style="text-align: center;">{{form_widget(form.muscularExplorationEversionLeft)}}</td>
														</tr>
													<!-- /Eversión -->
													<!-- Inversión -->
														<tr>
															<td style="text-align: center;">{{form_widget(form.muscularExplorationReversalRight)}}</td>
															<td style="text-align: center;">INVERSIÓN</td>
															<td style="text-align: center;">{{form_widget(form.muscularExplorationReversalLeft)}}</td>
														</tr>
													<!-- /Inversión -->
												</tbody>
											</table>
										<!-- /Exploración Muscular -->
										<div class="clearfix"></div>
										<div class="form-group">
											<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12" >Exploración Dinámica</label>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">{{form_widget(form.dinamicExploration)}}</div>
											<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12" >Signos de Huella</label>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">{{form_widget(form.signsFootprint)}}</div>
											<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12" >Pruebas Complementarias</label>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">{{form_widget(form.suplementaryTest)}}</div>
											<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12" >Diagnóstico</label>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">{{form_widget(form.diagnostic)}}</div>
											<label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12" >Tratamiento</label>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">{{form_widget(form.treatment)}}</div>
										</div>
										<div class="clearfix"></div>
										{% if permissionLoggedUser.orthopodologyHistoryUserRegistererEdit == true %}
											<label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-12" >		Usuario Registrador
											</label>
											<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">{{form_widget(form.userRegisterer)}}</div>
										{% endif %}
										{% if permissionLoggedUser.orthopodologyHistoryRegistrationDateEdit == true %}
											<label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-12">
												Fecha de Registro
											</label>
											<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
												<div class='input-group date' id='datetimepicker_registrationDate'>
													{{form_widget(form.registrationDate)}}
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										{% endif %}
										{% if permissionLoggedUser.orthopodologyHistoryUserModifierEdit == true %}
											<label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-12" >Usuario Modificador
											</label>
											<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">{{form_widget(form.userModifier)}}</div>
										{% endif %}
										{% if permissionLoggedUser.orthopodologyHistoryModificationDateEdit == true %}
											<label class="control-label col-lg-1 col-md-2 col-sm-2 col-xs-12">
												Fecha de Modificación
											</label>
											<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
												<div class='input-group date' id='datetimepicker_modificationDate'>
													{{form_widget(form.modificationDate)}}
													<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										{% endif %}
										<div class="clearfix"></div><br/>
										{{form_widget(form.submit, {'label':'Crear Estudio'})}}
									{{ form_end(form) }}
								</div>
							</div>
						</div>
					</div>
				<!-- /page content -->
{% endblock %}
{% block javascriptsFinal %}
	{{ parent() }}	
    <script src="{{ asset ('assets/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/fullcalendar/locale/es.js') }}"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
	{#
	<!-- dateTimePickerCustom -->
	<script src="{{ asset ('assets/js/custom/dateTimePicker.js') }}"></script>
	#}
	<script type="text/javascript">
		// El selector JQuery hace referencia a todos los id con 'datetimepicker' 
		$('[id ^= datetimepicker]').datetimepicker({
		//$('#datetimepicker_birthday').datetimepicker({
			format: 'DD/MM/YYYY',
			locale:'es',
			pickTime: false,
			icons: {
		//		time: "fa fa-clock-o",
				date: "fa fa-calendar",
		//		up: "fa fa-arrow-up",
		//		down: "fa fa-arrow-down"
			},
			allowInputToggle: true
		});
	</script>
	<!-- autoComplete -->
	<!-- CKEditor -->
	<script data-sample="reasonConsultation">
		CKEDITOR.replace( 'backendbundle_orthopodologyhistory_reasonConsultation', {
			customConfig: "{{ asset ('assets/js/custom/ckeditor_config_orthopodology_history.js') }}"
		});
		CKEDITOR.replace( 'backendbundle_orthopodologyhistory_background', {
			customConfig: "{{ asset ('assets/js/custom/ckeditor_config_orthopodology_history.js') }}"
		});		
		CKEDITOR.replace( 'backendbundle_orthopodologyhistory_dissimmetry', {
			customConfig: "{{ asset ('assets/js/custom/ckeditor_config_orthopodology_history.js') }}"
		});	
		CKEDITOR.replace( 'backendbundle_orthopodologyhistory_dinamicExploration', {
			customConfig: "{{ asset ('assets/js/custom/ckeditor_config_orthopodology_history.js') }}"
		});	
		CKEDITOR.replace( 'backendbundle_orthopodologyhistory_signsFootprint', {
			customConfig: "{{ asset ('assets/js/custom/ckeditor_config_orthopodology_history.js') }}"
		});	
		CKEDITOR.replace( 'backendbundle_orthopodologyhistory_suplementaryTest', {
			customConfig: "{{ asset ('assets/js/custom/ckeditor_config_orthopodology_history.js') }}"
		});	
		CKEDITOR.replace( 'backendbundle_orthopodologyhistory_diagnostic', {
			customConfig: "{{ asset ('assets/js/custom/ckeditor_config_orthopodology_history.js') }}"
		});	
		CKEDITOR.replace( 'backendbundle_orthopodologyhistory_treatment', {
			customConfig: "{{ asset ('assets/js/custom/ckeditor_config_orthopodology_history.js') }}"
		});									
	</script>	
{% endblock %}