{# EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig'...................... #}
  {% extends "AppBundle:Layouts:layout.html.twig"%}
{# ......................EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig' #}
{% block stylesheets %}
	{# la función parent() carga todo el contenido del bloque anterior #}
	{{ parent() }}
    <!-- FullCalendar -->
    <link href="{{ asset ('assets/vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('assets/vendors/fullcalendar/dist/fullcalendar.print.css') }}" rel="stylesheet" media="print">
{% endblock %}    
{% block content %}
			<!-- page content -->
				<div class="right_col" role="main">
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel" >
								<div class="x_title">
									<h3 style="display:inline-block;">Agenda</h3>
									<div style="display:block;margin-top:4px;" class="pull-right">
										<a class="btn btn-success"
											href="">
											<i class="fa fa-mail-reply-all m-right-xs"></i>
											Listado
										</a>
									</div>
									<div class="clearfix"></div>
									<!-- calendar modal -->
										<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
														<h4 class="modal-title" id="myModalLabel">Nueva Entrada</h4>
													</div>
													<div class="modal-body">
														<div id="testmodal" style="padding: 5px 20px;">
															<form id="antoform" class="form-horizontal calender" role="form">
																<div class="form-group">
																	<label class="col-sm-3 control-label">Título</label>
																	<div class="col-sm-9">
																		<input type="text" class="form-control" id="title" name="title">
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-sm-3 control-label">Descripción</label>
																	<div class="col-sm-9">
																		<textarea class="form-control" style="height:55px;" id="descr" name="descr"></textarea>
																	</div>
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default antoclose" data-dismiss="modal">Cerrar</button>
														<button type="button" class="btn btn-primary antosubmit">Guardar Cambios</button>
													</div>
												</div>
											</div>
										</div>
										<div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
														<h4 class="modal-title" id="myModalLabel2">Editar</h4>
													</div>
													<div class="modal-body">
														<div id="testmodal2" style="padding: 5px 20px;">
															<form id="antoform2" class="form-horizontal calender" role="form">
																<div class="form-group">
																	<label class="col-sm-3 control-label">Título</label>
																	<div class="col-sm-9">
																		<input type="text" class="form-control" id="title2" name="title2">
																	</div>
																</div>
	              												<div class="form-group">
																	<label class="col-sm-3 control-label">Descripción</label>
																	<div class="col-sm-9">
																		<textarea class="form-control" style="height:55px;" id="descr2" name="descr"></textarea>
																	</div>
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Cerrar</button>
														<button type="button" class="btn btn-primary antosubmit2">Guardar Cambios</button>
													</div>
												</div>
											</div>
										</div>
										<div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
										<div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
									<!-- /calendar modal -->
								</div>
								<div class="x_content row">
									<div class="col-md-12 col-sm-12 col-xs-12 profile_left" style="padding-right:0px;">	
										<div id='calendar'></div>
									</div>
									<div class="clearfix"></div>
									<div class="divider-dashed"></div>									
									<div class="col-md-12 col-sm-12 col-xs-12" style="padding-right:0px;">
										<div class="pull-left">
											<a class="btn btn-success"
												href="">
												<i class="fa fa-edit m-right-xs"></i>
												Editar Historia
											</a>
										</div>
										<div class="pull-right">
											<a class="btn btn-success"
												href="">
												<i class="fa fa-plus-square m-right-xs"></i>
												Estudio
											</a>
											<a class="btn btn-success"
												href="">
												<i class="fa fa-plus-square m-right-xs"></i>
												Seguimiento
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br />
					</div>
				</div>
			<!-- /page content -->									
{% endblock %}
{% block javascriptsFinal %}
	{# la función parent() carga todo el contenido del bloque anterior #}
		{{ parent() }}
    <!-- FullCalendar -->
    <script src="{{ asset ('assets/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/fullcalendar/dist/fullcalendar.min.js') }}"></script>
{% endblock %}		