{# EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig'...................... #}
	{% extends "AppBundle:Layouts:layout.html.twig"%}
{# ......................EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig' #}
{% block stylesheets %}
	{# la función parent() carga todo el contenido del bloque anterior #}
	{{ parent() }}
	<!-- Datatables -->
	<link href="{{ asset ('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset ('assets/vendors/ionicons.com/2.0.1/css/ionicons.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- page content -->
	{% set medicalHistoryList = clinicView.medicalHistoryList %}
	<div class="right_col" role="main">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel" >
					<div class="x_title">
						<h3 style="display:inline-block;">Listado de Historias</h3>
					</div>
					<div class="x_content" >
						<table id="datatable-buttons-medicalHistoryList" class="table table-striped table-bordered" cellspacing="0" style="width:100%;">
							<thead>
								<tr>
									<th style="text-align: center; width:10px;">Nºhª</th>
									<th>Nombre</th>
									<th style="text-align: center ;width:45px;">DNI</th>
									<th style="text-align: center; width:45px;">Móvil</th>
									<th style="text-align: center; width:45px;">Fijo</th>
									<th>Ciudad</th>
									<th style="text-align: center; width:35px;"><i class="ionicons ion-male"></i> / <i class="ionicons ion-female"></i></th>
									<th style="text-align: center; width:10px;"><i class="fa fa-clock-o m-right-xs"></i></th>
									<th style="text-align: center; width:10px;"><i class="fa fa-check-circle m-right-xs"></i></th>
									<th style="text-align: center; width:10px;"><i class="fa fa-money m-right-xs"></th>
									<th style="text-align: center; width:10px;"><i class="fa fa-exclamation-triangle"></i></th>
								</tr>
							</thead>
							<tbody>
								{#}
								{% set countrow = 0 %}
								#}
								{% for medicalHistory in medicalHistoryList %}
									{#}
									{% set countrow = countrow + 1 %}
										{% if countrow < 10 %}
									#}		
									{# DEFINO VARIABLES ................................................................... #}
										{% set clinicNameUrl = medicalHistory.clinic.nameUrl %}
										{% set city = medicalHistory.city %}
										{% set medicalHistoryNumber = medicalHistory.medicalHistoryNumber %}
										{% set cost = dataExtraMedicalHistoryList[medicalHistoryNumber]['costEarnings']['cost'] %}
										{% set earnings = dataExtraMedicalHistoryList[medicalHistoryNumber]['costEarnings']['earnings'] %}
									{# ................................................................... DEFINO VARIABLES #}
									<tr {% if medicalHistory.patientRisk != NULL %} class="danger"{% endif %}>
										<td style="text-align: center;"><a href="{{ path("medical_history_view", {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': medicalHistoryNumber} ) }}">{{medicalHistory.medicalHistoryNumber}}</a></td>
										<td><a href="{{ path("medical_history_view", {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber':medicalHistoryNumber} ) }}">{{medicalHistory.surname| title}}, {{medicalHistory.name| title}}</a></td>
										<td style="text-align: center;"><a href="{{ path("medical_history_view", {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': medicalHistoryNumber} ) }}">{{medicalHistory.dni}}</a></td>
										<td style="text-align: center;"><a href="{{ path("medical_history_view", {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': medicalHistoryNumber} ) }}">{{medicalHistory.phoneMobile}}</a></td>
										<td style="text-align: center;"><a href="{{ path("medical_history_view", {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': medicalHistoryNumber} ) }}">{{medicalHistory.phoneHome}}</a></td>
										<td>
											<a href="{{ path('medical_history_view', {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': medicalHistoryNumber} ) }}">
											{% if city != null %} {{city.city}} ( {{city.province.province}} ){% endif %}</a>
										</td>													
										<td style="text-align: center;">
											<a href="{{ path("medical_history_view", {'clinicNameUrl': clinicNameUrl, 'medicalHistoryNumber': medicalHistoryNumber} ) }}">
												{% if medicalHistory.gender == "Hombre" %}
													<i class="ionicons ion-male"></i>
												{% elseif medicalHistory.gender == "Mujer" %}
													<i class="ionicons ion-female" ></i>
												{% endif %}
											</a>
										</td>
										<td style="text-align: center;">
											{% if medicalHistory.late != NULL %}
												{{medicalHistory.late}} <i class="fa fa-clock-o m-right-xs"></i>
											{% endif %}
										</td>
										<td style="text-align: center;">
											{% if medicalHistory.updated != NULL %}
												<i class="fa fa-check-circle m-right-xs"></i>
											{% endif %}
										</td>
										<td style="text-align: center;">
											{% if cost > earnings %}
												<i class="fa fa-money m-right-xs"></i>
											{% endif %}
										</td>
										<td style="text-align: center;">
											{% if medicalHistory.patientRisk != NULL %}
												<i class="fa fa-exclamation-triangle"></i>
											{% endif %}
										</td>										
									</tr>
								{#}	
								{% endif %}
								#}
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- /page content -->
{% endblock %}
{% block javascriptsFinal %}
  {{ parent() }}
    <!-- Datatables -->
    <script src="{{ asset ('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset ('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset ('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script>
		//var table = $('#datatable-buttons-medicalHistoryList').DataTable();
    </script>
{% endblock %}