{# VARIABLES CARGADAS EN HOMECONTROLLER................................. #}
{% if app.user != null %}
	{% set ClinicsUser = app.session.get('clinicUserlogged') %}
{% endif %}
{# .................................VARIABLES CARGADAS EN HOMECONTROLLER #}
<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, user-scalable=yes">
		<title>{% block title %} ERP Medical {% endblock %}</title>
{% block stylesheets %}
			<!-- Bootstrap -->
			<link href="{{ asset ('assets/vendors/bootstrap-3.3.7/dist/css/bootstrap.min.css')}}" rel="stylesheet">
			<!-- Font Awesome -->
			<link href="{{ asset ('assets/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
			<!-- Animate.css -->
			<link href="{{ asset ('assets/vendors/animate.css/animate.min.css')}}" rel="stylesheet">
			<!-- Custom Theme Style -->
			<link href="{{ asset ('assets/css/custom.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}

{% endblock %}
	</head>

{% block bodyStart %}
	<body class="nav-md">
		<div class="container body">
			<div class="main_container">
				<div class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide">
					<div class="left_col scroll-view">
						<div class="navbar nav_title" style="border: 0;">
							<a href="{{ path("homepage")}}" class="site_title">
								{# IMAGEN DE USUARIO SI EXISTIESE O NO UN REGISTRO.......................................................... #}
									{% if app.user.image == null %}
										<i class="fa fa-paw"></i>
									{% else %}
										<img src="{{ asset ('uploads/clinics/'~ClinicsUser.nameUrl~'/'~ClinicsUser.image) }}" alt="..." class="img-circle" style="width:25px;"/>
									{% endif %}
								{# ..........................................................IMAGEN DE USUARIO SI EXISTIESE O NO UN REGISTRO #}
								<span>{{ClinicsUser.name}}</span>
							</a>
						</div>
						<div class="clearfix"></div>
						<!-- menu profile quick info -->
							<div class="profile clearfix">
								<div class="profile_pic">
									{# IMAGEN DE USUARIO SI EXISTIESE O NO UN REGISTRO.......................................................... #}
										{% if app.user.image == null %}
											<img src="{{ asset ('assets/images/default_profile.png') }}" alt="..." class="img-circle profile_img">
										{% else %}
											<img src="{{ asset ('uploads/users/'~app.user.id~'/'~app.user.image) }}" alt="..." class="img-circle profile_img"/>
										{% endif %}
									{# ..........................................................IMAGEN DE USUARIO SI EXISTIESE O NO UN REGISTRO #}
								</div>
								<div class="profile_info">
									<span>Bienvenid{% if app.user.gender == 'Hombre' %}o,{% else %}a,{% endif %}</span>
									<h2>{{app.user.name}} {{app.user.surnames}}</h2>
								</div>
							</div>
						<!-- /menu profile quick info -->
						<br />
						<!-- sidebar menu -->
							<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
								<div class="menu_section">
									<h3>General</h3>
									<ul class="nav side-menu">
										{# HISTORIAS CLÍNICAS .....................................................................................#}
											{% if permissionLoggedUser.medicalHistoryList == true or permissionLoggedUser.medicalHistoryCreate == true %}
												<li>
													<a><i class="fa fa-h-square"></i>Historias Clinicas<span class="fa fa-chevron-down"></span></a>
													<ul class="nav child_menu">
														{% if permissionLoggedUser.medicalHistoryList == true %}													
															<li>
																<a href="{{ path("medical_history_list", {clinicNameUrl:ClinicsUser.nameUrl} ) }}">
																	Listado
																</a>
															</li>
														{% endif %}													
														{% if permissionLoggedUser.medicalHistoryCreate == true %}
															<li>
																<a href="{{ path("medical_history_create", {clinicNameUrl:ClinicsUser.nameUrl} ) }}">
																	Nueva Historia
																</a>
															</li>
														{% endif %}
													</ul>
												</li>
											{% endif %}
										{#  ..................................................................................... HISTORIAS CLÍNICAS #}	
										{# ESTUDIO ORTOPODOLÓGICO ...................................................................................#}														
											{% if permissionLoggedUser.orthopodologyHistoryList == true or permissionLoggedUser.orthopodologyHistoryCreate == true %}
												<li>
													<a><i class="fa fa-folder-open"></i>Estudios<span class="fa fa-chevron-down"></span></a>
													<ul class="nav child_menu">
														{% if permissionLoggedUser.orthopodologyHistoryList == true %}						
															<li>
																<a href="{{ path("orthopodology_history_list", {clinicNameUrl:ClinicsUser.nameUrl} ) }}">Listado
																</a>
															</li>
														{% endif %}	
														{#}										
														{% if permissionLoggedUser.orthopodologyHistoryCreate == true %}
															<li>
																<a href="{{ path("orthopodology_history_create", {clinicNameUrl:ClinicsUser.nameUrl,medicalHistoryNumber:"without_MedicalHistoryNumber" } ) }}">
																	Nueva Estudio
																</a>
															</li>
														{% endif %}
														#}
													</ul>
												</li>
											{% endif %}
										{# ................................................................................... ESTUDIO ORTOPODOLÓGICO #}											
										{% if permissionLoggedUser.reportList == true or permissionLoggedUser.reportCreate == true %}
											<li>
												<a><i class="fa fa-file-text-o"></i>Informes<span class="fa fa-chevron-down"></span></a>
												<ul class="nav child_menu">
													{% if permissionLoggedUser.reportList == true %}										
														<li>
															<a href="{{ path("report_list", {clinicNameUrl:ClinicsUser.nameUrl} ) }}">Listado
															</a>
														</li>
													{% endif %}												
													{% if permissionLoggedUser.reportCreate == true %}
														<li>
															<a href="{{ path("report_create", {clinicNameUrl:ClinicsUser.nameUrl,medicalHistoryNumber:"without_MedicalHistoryNumber" } ) }}">
																Nueva Informe
															</a>
														</li>
													{% endif %}
												</ul>
											</li>
										{% endif %}
										{% if permissionLoggedUser.invoiceList == true or permissionLoggedUser.invoiceCreate == true %}
											<li>
												<a><i class="fa fa-bank"></i>Contabilidad<span class="fa fa-chevron-down"></span></a>
												<ul class="nav child_menu">
													<li>
														<a >
															Contabilidad
														</a>
													</li>													
													{% if permissionLoggedUser.invoiceList == true %}												
														<li>
															<a href="{{ path("invoice_list", {clinicNameUrl:ClinicsUser.nameUrl} ) }}">Listado Facturas
															</a>
														</li>
													{% endif %}
													{% if permissionLoggedUser.invoiceCreate == true %}
														<li>
															<a href="{{ path("invoice_create", {clinicNameUrl:ClinicsUser.nameUrl,medicalHistoryNumber:"without_MedicalHistoryNumber" } ) }}">
																Nueva Factura
															</a>
														</li>
													{% endif %}
												</ul>
											</li>
										{% endif %}																													
										<li>
											<a href="{{ path("schedule_home", {clinicNameUrl:ClinicsUser.nameUrl,userName:app.user.userName}) }}">
												<i class="fa fa-calendar"></i>
												Agenda
												<span class="fa fa-chevron-down"></span>
											</a>
										</li>
										{% if permissionLoggedUser.adminSectionAccess == true %}
											<li>
												<a href="{{ path("admin_home") }}">
													<i class="fa fa-wrench"></i>
													Administración
													<span class="fa fa-chevron-down"></span>
												</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						<!-- /sidebar menu -->
						<!-- /menu footer buttons -->
							<div class="sidebar-footer hidden-small">
								<a data-toggle="tooltip" data-placement="top" title="Settings">
									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								</a>
								<a data-toggle="tooltip" data-placement="top" title="FullScreen">
									<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
								</a>
								<a data-toggle="tooltip" data-placement="top" title="Lock">
									<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
								</a>
								<a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path("logout") }}">
									<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
								</a>
							</div>
						<!-- /menu footer buttons -->
					</div>
				</div>
				<!-- top navigation -->
					<div class="top_nav">
						<div class="nav_menu" >
							<nav>
								<div class="nav toggle">
									<a id="menu_toggle"><i class="fa fa-bars"></i></a>
								</div>
								<ul class="nav navbar-nav navbar-right">
									<!-- Profile and configuration -->
										<li class="">
											<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												{# IMAGEN DE USUARIO SI EXISTIESE O NO UN REGISTRO.................................................. #}
													{% if app.user.image == null %}
														<img src="{{ asset ('assets/images/default_profile.png') }}" alt="..." />
													{% else %}
														<img src="{{ asset ('uploads/users/'~app.user.id~'/'~app.user.image) }}" alt="..." />
													{% endif %}
												{# ..................................................IMAGEN DE USUARIO SI EXISTIESE O NO UN REGISTRO #}
												{{app.user.userName}}
												<span class=" fa fa-angle-down"></span>
											</a>
											<ul class="dropdown-menu dropdown-usermenu pull-right">
												<li><a href="{{ path('user_own_edit') }}">Perfil de Usuario</a></li>
												<li>
													<a href="javascript:;">
														<span class="badge bg-red pull-right">50%</span>
														<span>Configuración</span>
													</a>
												</li>
												<li><a href="javascript:;">Ayuda</a></li>
												<li><a href="{{ path("logout") }}"><i class="fa fa-sign-out pull-right"></i>Salir</a></li>
											</ul>
										</li>
									<!-- /Profile and configuration -->
									<!-- Alertas y mensajes -->
										<li role="presentation" class="dropdown">
											<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
												<i class="fa fa-envelope-o"></i>
												<span class="badge bg-green">6</span>
											</a>
											<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
												<li>
													<a>
														<span class="image">
															{% if app.user.image == null %}
																<img src="{{ asset ('assets/images/default_profile.png') }}" alt="Profile Image" />
															{% else %}
																<img src="{{ asset ('uploads/users/'~app.user.id~'/'~app.user.image) }}" alt="Profile Image" />
															{% endif %}
														</span>
														<span>
															<span>John Smith</span>
															<span class="time">3 mins ago</span>
														</span>
														<span class="message">
															Film festivals used to be do-or-die moments for movie makers. They were where...
														</span>
													</a>
												</li>
												<li>
													<div class="text-center">
														<a><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a>
													</div>
												</li>
											</ul>
										</li>
									<!-- /Alertas y mensajes -->
								</ul>
							</nav>
						</div>
					</div>
				<!-- /top navigation -->
{% endblock %}
	{# MOSTRAMOS LOS FLASHBAG...................................................... #}
		<div class="container">
			<div id="status" style="position: fixed;bottom: 30px;z-index: 200;right: 10px;">
				{% for message in app.session.flashbag().get('status') %}
						<div class="alert alert-{{message['type']}} alert-dismissible fade in"  role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">×</span>
							</button>
							{{message['description']}}
						</div>
				{% endfor %}
			</div>
		</div>
		<script>
		window.setTimeout(function() {
			$(".alert").fadeTo(500, 0).slideUp(500, function(){
			$(this).remove();
			});
		}, 3000);
		</script>
        <div class="clearfix"></div>
	{# ......................................................MOSTRAMOS LOS FLASHBAG #}
{% block content %}
	        	<!-- page content -->
        		<div class="right_col" role="main">
        		</div>
	        	<!-- /page content -->
{% endblock %}
{% block footerContent %}
			{% if permissionLoggedUser is defined %}
				{% if permissionLoggedUser.userDumpView == true %}
					<div class="col-lg-10 col-md-10" style="position:absolute;top:50px;right:5px;z-index:3000;margin:auto;">
						{{dump()}}
					</div>
				{% endif %}
			{% endif %}
				<!-- footer content -->
			<!--
				<footer>
					<div class="pull-right">
						Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
					</div>
					<div class="clearfix"></div>
				</footer>
			-->
				<!-- /footer content -->
			</div>
		</div>
		</div>
{% endblock %}
{% block javascriptsFinal %}
		<!-- jQuery -->
		<script src="{{ asset ('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
		<!-- Bootstrap -->
		<script src="{{ asset ('assets/vendors/bootstrap-3.3.7/dist/js/bootstrap.min.js') }}"></script>
		<!-- FastClick -->
		<script src="{{ asset ('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
		<!-- gauge.js -->
		<script src="{{ asset ('assets/vendors/gauge.js/dist/gauge.min.js') }}"></script>
		<!-- bootstrap-progressbar -->
		<script src="{{ asset ('assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
		<!-- iCheck -->
		<script src="{{ asset ('assets/vendors/iCheck/icheck.min.js') }}"></script>
		<!-- Skycons -->
		<script src="{{ asset ('assets/vendors/skycons/skycons.js') }}"></script>
		<!-- Flot -->
		<script src="{{ asset ('assets/vendors/Flot/jquery.flot.js') }}"></script>
		<script src="{{ asset ('assets/vendors/Flot/jquery.flot.pie.js') }}"></script>
		<script src="{{ asset ('assets/vendors/Flot/jquery.flot.time.js') }}"></script>
		<script src="{{ asset ('assets/vendors/Flot/jquery.flot.stack.js') }}"></script>
		<script src="{{ asset ('assets/vendors/Flot/jquery.flot.resize.js') }}"></script>
		<!-- Flot plugins -->
		<script src="{{ asset ('assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
		<script src="{{ asset ('assets/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
		<script src="{{ asset ('assets/vendors/flot.curvedlines/curvedLines.js') }}"></script>
		<!-- DateJS -->
		<script src="{{ asset ('assets/vendors/DateJS/build/date.js') }}"></script>
		<!-- JQVMap -->
		<script src="{{ asset ('assets/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
		<script src="{{ asset ('assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
		<script src="{{ asset ('assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
		<!-- custom -->
		<script src="{{ asset ('assets/js/custom.min.js') }}"></script>
{% endblock %}
	</body>
</html>
